<div class="running-table-container">
  <table mat-table [dataSource]="dataSource" *ngIf="dataSource.data.length > 0">
    <!-- Unique ID -->
    <ng-container matColumnDef="uid">
      <th mat-header-cell *matHeaderCellDef> UID </th>
      <td mat-cell *matCellDef="let element">
        <p class="uid_field">{{element.unique_id}}</p>
      </td>
    </ng-container>

    <!-- Job Name -->
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.jobid}} </td>
    </ng-container>

    <!-- Tasks -->
    <ng-container matColumnDef="Tasks">
      <th mat-header-cell *matHeaderCellDef> Tasks </th>
      <td mat-cell *matCellDef="let element">
        <div class="task-container">
          <p class="Task" *ngFor="let t of element.tasks"
             (click)="get_task_message_log(element.unique_id, t.taskid)"
             [ngStyle]="{ 'color': is_task_success(t) ? 'green' : (is_task_fail(t) ? 'red' : 'orange') }">
            {{t.taskid}}
          </p>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
