h1 {
    font-size: 1.2em;
    margin-bottom: 0;
    overflow-y: auto;
}

.GenPanel {
    width: 40cm;
    margin-left: auto;
    margin-right: auto;
}

app-ver-register {
    width: 17cm;
}

app-ver-gen {
    width: 7cm;
}

app-progress-bar {
    width: 15cm;
}

app-ver-file-explorer {
    width: 7cm;
}

app-job-history {
    width: 15cm;
}
