.task-container {
    display: flex;
}

.history-table-container {
    height: 250px;
    width: 100%;
    overflow: auto;
}

.Task {
    padding: 0em 1em 0em 1em;
    white-space: nowrap;
    overflow: hidden;
}

.uid_field {
    padding: 0em 1em 0em 0em;
}
